<form action="/albums" method="POST">
  <input type="text" name="title" placeholder="title">
  <input type="number" name="release_year" placeholder="release_year">
  <input type="number" name="artist_id" placeholder="artist_id">

  <input type="submit" value="Submit">
</form>